// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "../scss/site/seasonal_weather";
@import "../scss/helpers/placeholders";
@import "../scss/animations/leaves_falling";
@import "../scss/helpers/media_queries";